$color-primary: #037ef3;

html {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 15px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	background-color: #f5f7fa;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.selectbox {
	position: relative;
	border: 1px solid #eaedf3;
	border-radius: 3px;
	padding: 8px 50px 8px 14px;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;

	& > svg.caret-down {
		position: absolute;
		right: 12px;
		top: 50%;
		transform: translateY(-50%);
	}

	&:hover {
		color: #037ef3;
	}
}

.button,
button,
input[type="submit"],
input[type="reset"] {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(90deg, #8fbecd -46.78%, #037df1 100.08%);
	border: none;
	border-radius: 5px;
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
	height: 34px;
	color: white !important;
	padding: 0 15px;
	opacity: 1;
	cursor: pointer;
	outline: none;

	&:hover {
		opacity: 0.9;
	}

	&.full {
		width: 100%;
	}

	&.with-icon {
		& > svg {
			margin-right: 5px;
		}

		&.icon-right {
			padding-right: 10px;

			& > svg {
				margin-left: 5px;
			}
		}
	}

	&.upgrade {
		height: 30px;
	}

	&.transparent {
		background: none;
		height: 25px;
		border-radius: 25px;
		font-size: 11px;
		line-height: 12px;
		padding: 0 10px;
		border: 1px solid white;

		&:hover {
			background-color: rgba(255, 255, 255, 0.12);
		}
	}

	&.transparent-big {
		background: none;
		height: 40px;
		border-radius: 0;
		border: 1px solid #C3CAD8;
		color: #7D8A98 !important;
		font-size: 14px;
		line-height: 17px;
		font-weight: 500;

		&:hover {
			color: black !important;
			border-color: black;
		}
	}

	&.rounded {
		background: none;
		background-color: #78808b;
		height: 30px;
		border-radius: 50px;
		font-weight: 600;
		font-size: 13px;
		line-height: 16px;
		padding: 0 20px;

		& > svg > path {
			stroke: white;
		}

		&:hover {
			opacity: 0.9;
		}
	}

	&.radius {
		background: none;
		background-color: #2d3137;
		height: 22px;
		border-radius: 3px;
		font-weight: 600;
		font-size: 13px;
		line-height: 16px;
		padding: 0 0px;

		& > svg {
			margin: 0 4px;

			&:first-child {
				margin-right: 2px;
			}

			& > path {
				stroke: white;
			}
		}

		&:hover {
			opacity: 0.8;
		}
	}

	&[disabled] {
		opacity: 0.5;
		pointer-events: none;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="password"],
textarea,
select {
	background: #ffffff;
	border: 1px solid #eaedf3;
	border-radius: 4px;
	outline: none;

	font-weight: 500;
	font-size: 16px;
	line-height: 19px;

	min-height: 34px;
	max-width: 100%;
	padding: 5px 20px;
	margin-bottom: 10px;

	&:focus {
		border-color: $color-primary;
	}

	&::placeholder {
		color: #aeb6be;
	}
}

/* DROPDOWNS */
details {
	list-style-type: none;
	display: inline-block;
	position: relative;

	& > summary {
		outline: none;
		cursor: pointer;
		list-style-type: none;
		user-select: none;
		display: inline-block;

		&:before {
			display: none;
		}

		&::-webkit-details-marker {
			display: none;
		}
	}

	& > .details-menu {
		position: absolute;
		z-index: 11;
		top: auto;
		right: auto;
		bottom: auto;
		left: auto;
		padding: 0;

		&.right {
			right: 0;
		}

		&.center {
			left: 50%;
			transform: translateX(-50%);
			right: auto;
		}

		ul.menu {
			padding: 8px 0;
			list-style-type: none;
			overflow: auto;

			&.boxed {
				margin-top: 5px;
				background-color: #fff;
				border: 1px solid #eaedf3;
				border-radius: 4px;
				box-shadow: 0px 0px 3px rgba(237, 241, 250, 0.5);
			}

			&.compact {
				padding: 0;

				& > li {
					& > a,
					& > span {
						padding: 3px 12px;
						font-weight: 500;
						font-size: 12px;
						line-height: 14px;
					}
				}
			}

			&.lines {
				padding: 0;

				& > li {
					border-bottom: 1px solid #eaedf3;

					& > a,
					& > span {
						padding: 8px 14px;

					}
				}

			}

			&.sub {
				background-color: #f5f7fa;
				box-shadow: inset 0px 3px 2px rgba(0, 0, 0, 0.01);

				& > li {

					> span {
						padding-left: 30px;
					}

					> ul > li {

						> span {
							padding-left: 45px;
						}

						> ul > li {

							> span {
								padding-left: 60px;
							}

						}

					}

				}
			}

			&.sub2 {
				background-color: #edf3fd;
				box-shadow: inset 0px 3px 2px rgba(0, 0, 0, 0.01);
			}

			&.sub3 {
				background-color: white;
				box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
			}

			& > li {
				white-space: nowrap;

				& > a,
				& > span {
					font-size: 14px;
					line-height: 17px;
					font-weight: 500;
					color: #8b96ad;
					letter-spacing: 0.1px;

					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 8px 14px;
					cursor: pointer;

					& > svg {
						width: 20px;
						margin-right: 5px;
						display: block;
					}

					& > span,
					& > div {
						display: flex;
						align-items: center;

						& > svg {
							width: 20px;
							margin-right: 5px;
							display: block;
						}

						&.left {
							display: flex;
							align-items: center;
						}

						&.right {
							margin-left: 15px;

							svg {
								width: auto;
								margin-right: 0;
								display: block;

								path {
									stroke: #8b96ad;
								}
							}

							&:hover {
								svg path {
									stroke: black;
								}
							}

							&.active {
								svg path {
									stroke: #037ef3;
								}
							}

						}

					}


					&:hover {
						& > a,
						& > span,
						& > div {
							color: black !important;
						}

						svg {
							path {
								stroke: black !important;
							}
						}
					}

				}

				&.active {
					& > a,
					& > span,
					& > div {
						font-weight: 600;
						color: #037ef3 !important;

						svg {
							path {
								stroke: #037ef3 !important;
							}
						}

					}
				}
			}
		}



	}

	&:not([open]) > *:not(summary) {
		display: none !important;
	}

	&[open] {
		& > summary {
			&::before {
				position: fixed;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 10;
				display: block;
				cursor: default;
				content: " ";
				background: transparent;
			}

			&.rotate-icon {
				svg {
					transform: rotate(180deg);
				}
			}
		}

		& > .details-menu {
			animation: fade-in 200ms forwards;
		}
	}
}

@keyframes fade-in {
	0% {
		margin-top: -25px;
		opacity: 0;
	}
	100% {
		margin-top: 5px;
		opacity: 1;
	}
}

/* TOOLTIPS */
[data-tooltip] {
	position: relative;

	&.tooltip {
		cursor: help;
	}

	&::after {
		content: attr(data-tooltip);
		pointer-events: none;
		position: absolute;
		z-index: 12;
		display: inline-table;
		padding: 4px 6px;
		width: 120px;
		min-height: fit-content;
		border-radius: 5px;
		background-color: #232830;
		color: white;
		box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 0.5);
		text-transform: initial;
		font-size: 13px;
		line-height: 15px;
		font-weight: 600;
		letter-spacing: normal;
		white-space: normal;
		text-align: center;
		opacity: 0;
		transition: 500ms;
		transition-delay: 0;

		bottom: 90%;
		right: auto;
		left: 50%;
		transform: translateX(-50%);
	}

	&.tooltip-active:after,
	&:hover:after {
		opacity: 1;
		bottom: calc(100% + 5px);
	}

	&.tooltip-delay:hover:after {
		transition-delay: 500ms;
	}

	&.tooltip-not-contained::after {
		white-space: nowrap;
		width: auto;
	}

	&.bottom-tooltip {
		&::after {
			bottom: auto;
			top: 90%;
		}

		&:hover::after {
			top: calc(100% + 5px);
		}
	}

	&.left-tooltip {
		&::after {
			right: 90%;
			left: auto;
			top: 50%;
			transform: translateY(-50%);
		}

		&:hover::after {
			right: calc(100% + 5px);
		}
	}

	&.right-tooltip {
		&::after {
			right: auto;
			left: 90%;
			top: 50%;
			transform: translateY(-50%);
		}

		&:hover::after {
			left: calc(100% + 5px);
		}
	}
}

/* SORTABLES */
.sortable-ghost {
	opacity: 0.3;
}

/* PROFILES */
.multiple-profiles {
	display: flex;
	flex-direction: row;

	& > * {
		border-radius: 50%;
		position: relative;
		z-index: 5;

		& > picture {
			width: 25px;
			height: 25px;
			font-size: 11px;
			border: 2px solid rgba(117, 120, 127, 0.5);
			background-clip: padding-box;
			box-sizing: content-box;
		}

		& + * {

			& > picture {
				margin-left: -9px;
			}

		}

		&:nth-child(2) {
			z-index: 4;
		}

		&:nth-child(3) {
			z-index: 3;
		}

		&:nth-child(4) {
			z-index: 2;
		}

		&:nth-child(5) {
			z-index: 1;
		}
	}
}

.shares {
	display: flex;
	flex-direction: row;
	align-items: center;
}

/* TASKS */
.tasks-count {
	display: flex;
	flex-direction: row;
	align-items: center;

	& > * {
		width: 22px;
		height: 22px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		font-weight: 500;
		font-size: 10px;
		line-height: normal;
		color: white;
		box-sizing: content-box;
		background-color: #7fcd74;
		border: 2px solid transparentize(#7fcd74, 0.8);
		background-clip: padding-box;

		&.left {
			background-color: #ce9064;
			border: 2px solid transparentize(#ce9064, 0.8);
			position: relative;
			z-index: 1;
		}

		& + * {
			margin-left: -7px;
		}
	}
}

/* STATUS */
.status {
	width: 8px;
	height: 8px;
	box-sizing: content-box;
	border-radius: 50%;
	pointer-events: none;
	transition: 500ms;
	background-color: #f39754;
	border: 3px solid transparentize(#f39754, 0.5);
	background-clip: padding-box;

	&.done {
		background-color: #7fcd74;
		border: 3px solid transparentize(#7fcd74, 0.5);
	}
}
