html {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	font-size: 15px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	background-color: #f5f7fa;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
}

.container {
	width: 95%;
	max-width: 1234px;
	margin: 0 auto;
	padding: 20px 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.selectbox {
	position: relative;
	border: 1px solid #eaedf3;
	border-radius: 3px;
	padding: 8px 50px 8px 14px;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;

	& > svg.caret-down {
		position: absolute;
		right: 12px;
		top: 50%;
		transform: translateY(-50%);
	}

	&:hover {
		color: #037ef3;
	}
}

.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(90deg, #8fbecd -46.78%, #037df1 100.08%);
	border-radius: 5px;
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
	height: 30px;
	color: white !important;
	padding: 0 15px;
	opacity: 0.9;

	&:hover {
		opacity: 1;
	}
}

/* DROPDOWNS */
details {
	list-style-type: none;

	& > summary {
		outline: none;
		cursor: pointer;
		list-style-type: none;
		user-select: none;

		&:before {
			display: none;
		}

		&::-webkit-details-marker {
			display: none;
		}
	}

	& > .details-menu {
		position: absolute;
		z-index: 11;
		top: auto;
		right: auto;
		bottom: auto;
		left: auto;
		padding: 0;
	}

	&:not([open]) > *:not(summary) {
		display: none !important;
	}

	&[open] {
		& > summary {
			&::before {
				position: fixed;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 10;
				display: block;
				cursor: default;
				content: " ";
				background: transparent;
			}
		}
	}
}
